body {
    text-align: center !important;
    background-color: aliceblue;
    font-family: "Roboto Light", serif !important;
}

.container {
    height:100%;
    max-width: 100% !important;
    padding: 0 !important;
}

header {
    background-color: cornflowerblue;
    position:sticky;
    top:0;
    width:100%;
    height:100px;
}

a:hover {
    color: darkslategray !important;
}

a:active {
    color: darkslategray !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

h2 {
    margin-top: 27px !important;
}

main {
    margin-bottom: 105px;
}

footer {
    position: fixed;
    bottom:0;
    width:100%;
    height:100px;
    background-color: lightskyblue;
}



