body {
    text-align: center !important;
    background-color: aliceblue;
    font-family: "Roboto Light", serif !important;
}

.container {
    height:100%;
    max-width: 100% !important;
    padding: 0 !important;
}

header {
    background-color: cornflowerblue;
    position:sticky;
    top:0;
    width:100%;
    height:100px;
}

a:hover {
    color: darkslategray !important;
}

a:active {
    color: darkslategray !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

h2 {
    font-weight: bolder !important;
    margin-bottom: 50px !important;
    margin-top: 27px !important;
}

main {
    margin-bottom: 105px;
    margin-top: 50px;
}

input, select, textarea {
    max-width: 50% !important;
    margin: 1rem auto 2rem !important;
}

span {
    font-weight: bold !important;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {
    background-color: darkseagreen;
}

footer {
    position: fixed;
    bottom:0;
    width:100%;
    height:100px;
    background-color: lightskyblue;
}

.formFilter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
}

.btn-primary {
    background-color: #93c5fd !important;
    margin-top: 30px !important;
}


